<li>
    <div class="flex justify-between py-3">
        <div>
            <p class="text-gray-800 text-lg font-medium line-through text-gray-400">
                Testo
            </p>
        </div>
        <div class="space-x-5">
            <label class="relative w-24 h-8 cursor-pointer">
                <input type="checkbox" id="test" class="sr-only peer" />
                <span class="absolute right-0 w-10 h-6 bg-gray-200 rounded-full transition peer-checked:bg-green-500"></span>
                <span class="absolute right-0 w-4 h-4 m-1 bg-white rounded-full transition -translate-x-4 peer-checked:translate-x-0"></span>
            </label>

            <button class="group">
                <trash-outline-icon class="w-6 h-6 text-gray-400 group-hover:text-red-400 transition-colors duration-500"></trash-outline-icon>
            </button>
        </div>
    </div>
</li>